<div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">  
        <app-post-list-item  *ngFor="let monPost of mesPosts, let i = index" 
            [title]="monPost.title" 
            [content]="monPost.content" 
            [loveIt]="monPost.loveIts" 
            [date]="monPost.created_at"
            [index]="i" 
            ></app-post-list-item>
        </ul>
    </div>
 </div>

<!--<button class="btn btn-success"
      [disabled]="!isAuth"
      (click)="onAllumer()">Tout allumer</button>-->